In [1]:
!pip install Selenium

Requirement already satisfied: Selenium in c:\users\rikug\anaconda3\anaconda\lib\site-packages (4.8.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from Selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from Selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from Selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from Selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from trio~=0.17->Selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from trio~=0.17->Selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from trio~=0.17->Selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from urllib3[socks]~=1.26->Selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rikug\anaconda3\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [7]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time

# 1.

In [8]:
driver=webdriver.Chrome(r"C:\Users\rikug\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [9]:
driver.get('https://www.naukri.com/')

In [10]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [11]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input")
location.send_keys('Bangalore')

In [12]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div[1]/div[6]")
search.click()

In [13]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [14]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
    # scraping job_location from given page  
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    # scraping company_name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
    # scraping experience_required from given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [15]:
print(len(job_title),
      len(job_location),
          len(company_name),len(experience_required))

10 10 10 10

In [16]:
# making the data frame

df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Analyst,Hybrid - Bangalore/Bengaluru,Spire Technology,0-0 Yrs
1,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
2,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
3,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
4,Data Analyst,Hybrid - Bangalore/Bengaluru,Spire Technology,2-5 Yrs
5,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs
7,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
8,Data Analyst - Pharma/hls Domain (4-9 Years),"Bangalore/Bengaluru, Mumbai, Pune, Gurgaon/Gur...",Fractal Analytics,10-20 Yrs
9,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs

In [17]:
driver.close()

# 2.

In [25]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [26]:
#first connecting to driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [27]:
# opening naukri.com page on automated chrome browser
driver.get("https://www.naukri.com/")

In [28]:
# Entering designation automated 
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [29]:
# Entering location automated
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [30]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [31]:
job_title=[]
job_location=[]
company_name=[]

In [32]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job_location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company_name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [33]:
print(len(job_title),len(job_location), len(company_name))

10 10 10

In [34]:
# making the data frame
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
4,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
5,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
6,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
7,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies
8,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Baker Hughes
9,Lead data scientist,Bangalore/Bengaluru,Siemens

In [35]:
driver.close()

# 3.

In [117]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [118]:
# first connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [120]:
driver.get("https://www.naukri.com/")

In [121]:
# Entering designation automated 
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
designation.send_keys("Data Scientist")

In [122]:
#search clicking automated
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [123]:
#location  
location_Delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
location_Delhi.click()

In [124]:
#salary filter 3-6 lakhs
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary.click()

In [125]:
#creating empty list for required data
job_title=[]
job_location=[]
company_name=[]
experience=[]

In [126]:
# scraping job-title, job-location, company name, experience required from given page

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience.append(exp)

In [127]:
# making the data frame
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Experience_required':experience})
df

,Job_title,Job_location,Company_name,Experience_required
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
7,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
8,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
9,Data Scientist,"Hybrid - Delhi / NCR, Noida, New Delhi, Gurgao...",Nits Solutions,3-7 Yrs

In [128]:
driver.close()

# 4.

In [129]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [130]:
# first connecting to driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [131]:
# opening flipkart.com page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [132]:
# closing login pop up automated
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button") 
cross.click()

In [133]:
#searching sunglasses automated

sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys('sunglasses')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [135]:
brand=[]
product_description=[]
price=[]
time.sleep(4)

In [136]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:100]:
        brand.append(i.text)
    
    prod_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_desc[0:100]:
        product_description.append(i.text)    
    
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [137]:
print(len(brand),len(product_description),len(price))

120 117 120

In [138]:
# making the dataframe.
df=pd.DataFrame({'Brand':brand[0:100],'Product_description':product_description[0:100],'Price':price[0:100]})
df

             Brand                                Product_description Price
0        ROYAL SON                Others Retro Square Sunglasses (58)  ₹499
1      JOLLYJOKEEY  Photochromatic Lens, Riding Glasses, UV Protec...  ₹239
2        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
3             SRPM             UV Protection Wayfarer Sunglasses (50)  ₹149
4         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹503
..             ...                                                ...   ...
95         Sunnies           UV Protection Clubmaster Sunglasses (54)  ₹224
96          PIRASO       UV Protection Aviator Sunglasses (Free Size)  ₹208
97          PIRASO                UV Protection Round Sunglasses (54)  ₹224
98          PIRASO               UV Protection Sports Sunglasses (65)  ₹268
99  unique selling   UV Protection Rectangular Sunglasses (Free Size)  ₹299

[100 rows x 3 columns]

In [139]:
driver.close()

# 5.

In [140]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [141]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [143]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [144]:
rating=[]
review_short=[]
full_review=[]
time.sleep(3)

In [145]:
start=0
end=10
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings[0:100]:
        rating.append(i.text)
    
    reviewshort=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reviewshort[0:100]:
        review_short.append(i.text)    
    
    fullreview=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullreview[0:100]:
        full_review.append(i.text)
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [146]:
print(len(rating),len(review_short),len(full_review))

100 100 100

In [147]:
# making data frame
df=pd.DataFrame({'Rating':rating,'Review summary':review_short,'Full review':full_review})
df

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,5,Highly recommended,What a camera .....just awesome ..you can feel...
98,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [148]:
driver.close()

# 6.

In [149]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [150]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [151]:
driver.get("https://www.flipkart.com/")

In [152]:
# closing login pop up automated
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button") 
cross.click()

In [153]:
#searching sneakers automated
writesneakers=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
writesneakers.send_keys("sneakers")

search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [154]:
brand=[]
product_description=[]
price=[]
time.sleep(5)

In [159]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:100]:
        brand.append(i.text)
    
    prod_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_desc[0:100]:
        product_description.append(i.text)    
    
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')

In [160]:
print(len(brand),len(product_description),len(price))

198 234 240

In [161]:
# making the data frame
df=pd.DataFrame({'Brand':brand[0:100],'Product_description':product_description[0:100],'Price':price[0:100]})
df

       Brand                                Product_description Price
0         TR                                   Sneakers For Men  ₹699
1      BIRDE  Exclusive Affordable Collection of Trendy Snea...  ₹383
2        SFR                                 Sneakers For Women  ₹199
3     Kraasa                                   Sneakers For Men  ₹399
4      BIRDE        Casuals, Canvas, Partywear Sneakers For Men  ₹499
..       ...                                                ...   ...
95  BERSACHE             2 Combo Sneaker Shoes Sneakers For Men  ₹367
96    Layasa      Combo Pack of 2 Casual Shoes Sneakers For Men  ₹299
97    Layasa  Training & Gym Shoes & Running shoes & Sneaker...  ₹499
98      aadi      Combo Pack of 2 Casual Shoes Sneakers For Men  ₹499
99        TR  Premium Sports Shoes For Men Pack Of 2 Sneaker...  ₹399

[100 rows x 3 columns]

In [162]:
driver.close()

# 7.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.amazon.in/")

In [4]:
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys('Laptop')

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [5]:
ticki7=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[11]/span/a/div/label/i')
ticki7.click()

In [6]:
Title=[]
Ratings=[]
Price=[]

In [7]:
# scraping data for Title, Ratings, Price

title_tags=driver.find_elements(By.XPATH,"//div[@class='a-section a-spacing-none puis-padding-right-small s-title-instructions-style']")
for i in title_tags[0:10]:
    titles=i.text
    Title.append(titles)
    
rating_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-base']")
for i in rating_tags[0:10]:
    rating=i.text
    Ratings.append(rating)
    
price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    prices=i.text
    Price.append(prices)

In [8]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [9]:
# making data frame

df=pd.DataFrame({'Title':Title,'Ratings':Ratings,'Price':Price})
df

                                               Title Ratings   Price
0  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...     3.9  33,990
1  HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...     4.0  37,990
2  Lenovo V15 Intel Core i3 11th Gen 15.6" (39.62...     5.0  37,990
3  HP 15s,12th Gen Intel Core i3-1215U, 15.6 inch...     4.3  44,990
4  ASUS Vivobook 14, 14.0-inch (35.56 cms) FHD, I...     4.0  33,498
5  Dell Vostro 3420 Laptop,12th Gen Intel Core i3...     4.2  43,490
6  Acer Extensa 15 Lightweight Laptop Intel Core ...     4.0  33,990
7  ASUS VivoBook 15, 15.6-inch (39.62 cms) FHD, I...     3.9  32,990
8  Lenovo V15 Intel Core i3 11th Gen 1115G4 15.6"...     3.2  32,999
9  Lenovo IdeaPad 3 Intel Core i3-1115G4 11th Gen...     4.2  34,800

In [10]:
driver.close()

# 8.

In [11]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [12]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [13]:
driver.get("https://www.azquotes.com/")

In [14]:
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [15]:
Quote=[]
Author=[]
TypeOfQuotes=[]
time.sleep(3)

In [16]:
# scraping-we will take data for 10 pages as 1 page show 100 result & we require all 1000

start=0
end=10
for page in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes:
        Quote.append(i.text)
    
    authors=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in authors:
        Author.append(i.text)    
    
    quote_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quote_type:
        TypeOfQuotes.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')

In [17]:
print(len(Quote),len(Author),len(TypeOfQuotes))

1000 1000 1000

In [18]:
# making the data frame
df=pd.DataFrame({'Quotes':Quote,'Author':Author,'Type of quote':TypeOfQuotes })
df

,Quotes,Author,Type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# 10.

In [82]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [83]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [84]:
driver.get("https://www.motor1.com/")

In [85]:
dropdown=driver.find_element(By.XPATH,"//div[@class='box-item-left']")
dropdown.click()

In [87]:
drop_down2=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")
drop_down2.click()

In [88]:
lists=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
lists.click()

In [89]:
topexpensive_cars=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a")
topexpensive_cars.click()

In [90]:
Names=[]
Prices=[]

In [91]:
name_tags=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in name_tags[0:50]:
    name=i.text
    Names.append(name)

price_tags=driver.find_elements(By.XPATH,"//strong")
for i in price_tags[0:50]:
    price=i.text
    Prices.append(price)

In [92]:
print(len(Names),len(Prices))

50 50

In [93]:
# making the data frame.
df=pd.DataFrame({"NAME OF THE CAR":Names,"PRICE OF THE CAR IN ($)":Prices})
df

                          NAME OF THE CAR PRICE OF THE CAR IN ($)
0                       Ferrari LaFerrari      Top Speed: 217 MPH
1                              McLaren P1      Top Speed: 217 MPH
2                        Mercedes-AMG One      Top Speed: 217 MPH
3                 Lamborghini Sian FKP 37      Top Speed: 217 MPH
4                             Lotus Evija      Top Speed: 217 MPH
5                Bugatti Chiron Pur Sport      Top Speed: 218 MPH
6                            Ferrari Enzo    Top Speed: 218.7 MPH
7                    Pininfarina Battista      Top Speed: 218 MPH
8                     Aston Martin One-77      Top Speed: 220 MPH
9   Lambo Aventador LP780-4 Ultimae Coupe      Top Speed: 220 MPH
10                Pagani Huayra Codalunga      Top Speed: 220 MPH
11                          De Tomaso P72      Top Speed: 221 MPH
12                   Lamborghini Countach      Top Speed: 221 MPH
13                     Lamborghini Veneno      Top Speed: 221 MPH
14                     Gordon Murray T.50      Top Speed: 230 MPH
15                         Pagani Zonda R      Top Speed: 233 MPH
16    Pagani Huayra BC Pacchetto Tempesta      Top Speed: 236 MPH
17                           Bugatti Divo      Top Speed: 236 MPH
18                          Pagani Huayra      Top Speed: 238 MPH
19                     Bugatti Centodieci      Top Speed: 240 MPH
20                           Deus Vayanne      Top Speed: 248 MPH
21                             McLaren F1    Top Speed: 240.1 MPH
22                         Koenigsegg CCR    Top Speed: 241.0 MPH
23                      Koenigsegg Gemera      Top Speed: 249 MPH
24                             Aspark Owl      Top Speed: 249 MPH
25                     Koenigsegg Agera R      Top Speed: 249 MPH
26                  Aston Martin Valkyrie      Top Speed: 250 MPH
27                         Tesla Roadster     Top Speed: 250 MPH+
28              W Motors Fenyr SuperSport      Top Speed: 250 MPH
29                      McLaren Speedtail    Top Speed: 250.4 MPH
30                         Bugatti Veyron    Top Speed: 253.8 MPH
31                      SSC Ultimate Aero    Top Speed: 257.4 MPH
32                           Rimac Nevera      Top Speed: 258 MPH
33               Bugatti La Voiture Noire      Top Speed: 260 MPH
34                        Bugatti Mistral      Top Speed: 261 MPH
35                           Zenvo TSR-GT      Top Speed: 263 MPH
36        Bugatti Veyron 16.4 Super Sport    Top Speed: 267.9 MPH
37                     Hennessey Venom GT    Top Speed: 270.5 MPH
38             Bugatti Chiron Super Sport      Top Speed: 273 MPH
39                       Koenigsegg One:1      Top Speed: 273 MPH
40                    Koenigsegg Agera RS    Top Speed: 277.9 MPH
41                            Czinger 21C      Top Speed: 281 MPH
42                            SSC Tuatara    Top Speed: 295.0 MPH
43            Hennessey Venom F5 Roadster     Top Speed: 300 MPH+
44                       Koenigsegg CC850     Top Speed: 300 MPH+
45        Bugatti Chiron Super Sport 300+    Top Speed: 304.8 MPH
46                    SP Automotive Chaos     Top Speed: 310 MPH+
47                     Hennessey Venom F5      Top Speed: 311 MPH
48                         Bugatti Bolide      Top Speed: 311 MPH
49               Koenigsegg Jesko Absolut      Top Speed: 330 MPH